block content
	.comments
		p.lead Comments
		- for (var i = 0; i < comments.length; i++)
			.comment-info
				span By: #{comments[i].name}
				time Time: #{comments[i].time}
			p= comments[i].body
			hr