extends layout

block header
	nav.navigation
		a.anchor-nav(href="/admin") Add Post
		a.anchor-nav(href="/signin") Sign-in
	header
		.container#head
			h1 Title
			p.lead Welcome to my blog

block content
