<script id="post-template" type="text/x-handlebars-template">
	{{#unless blogPost}}
		<div class="no-blog">
			<h1>Please enter a blog post</h1>
			<h2><a href='/admin'>Click here</a></h2>
		</div>
	{{/unless}}
	{{#each blogPost}}
		<article class="blog-post" data-id={{_id}}>
			<div class="tooltip">
				<div class="tooltip-inner">Tooltip!</div>
				<div class="tooltip-arrow"></div>
			</div>
			<i class="glyphicon glyphicon-remove-circle ico-delete pull-right" data-toggle="tooltip" title="Delete Post"></i>
			<h1 class="blog-post-title"><a href="/posts/{{_id}}">{{title}}</a></h1>
			<div class="blog-post-info">
				<span class='author-link'>By: 
				<a rel="author" href="/author/{{author}}">{{author}}</a>
				</span>
				<time>Last Edited: {{time}}</time>
			</div>
			<hr>
			<p class="blog-post-text">{{{post}}}</p>
			<hr>
		</article>
	{{/each}}
</script>
