a {
  color: #00B7FF;
}

/*header*/

#head {
	text-align: center;
}

.jumbotron {
	box-shadow: 0px 10px 10px 5px #888;
}

/*footer*/

.footer-bar {
	margin-top: 25px;
	margin-bottom: 0;
	border-radius: 0;
	bottom: 0px;
	width: 100%;
}

/*posts*/

.posts {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
	box-shadow: 0px 20px 15px 8px #888888;
}

.no-blog {
	text-align: center;
	min-height: 500px;
}

time {
	float: right;
}

.ico-delete {
	float: right;
}

.ico-delete:hover {
	cursor: pointer;
	color:red;
}

/*admin blog post entry*/

.blog-post-form-header {
	text-align: center;
}

.form-container {
	box-shadow: 0px 10px 15px 8px #888888;
}